.roundedCorner {
    border-radius: 10px;
}

.side-bar-bg {
    background: url("./wwroboftc-sidebarbg-alternate\ .png"), #b86d0c;
    background-blend-mode: screen;
    height: 100%;
}

.drawer-bg {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px) !important;
    overflow: hidden !important;
    transition-property: box-shadow;
    transition-duration: .4s;

    &:hover {
        transition-property: box-shadow;
        transition-duration: .4s;
        box-shadow: 1px 1px 25px 10px rgba(255, 149, 2, 0.2);
    }

    &::before {
        z-index: 0;
        content: "";
        position: absolute !important;
        top: 0 ;
        left: -100% !important;
        width: 100% !important;
        height: 100% !important;
        background: linear-gradient(
            120deg,
            transparent,
            rgba(255, 149, 2, 0.4)
            transparent);
        transition: all 650ms;
    }

    &:hover::before {
        left: 100%;
    }
}
